@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-mini-7: 14.7px;
  --font-size-12xl-2: 31.2px;
  --font-size-21xl: 40px;
  --font-size-3xl-9: 22.9px;
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-lgi: 19px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-darkkhaki-100: #b09b58;
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.76);
  --color-mistyrose: #ebcbd3;
  --color-gainsboro: #d9d9d9;
  --color-dodgerblue: #0588fa;

  /* border radiuses */
  --br-16xl-8: 35.8px;
  --br-19xl-6: 38.6px;
  --br-15xl-5: 34.5px;
  --br-mid: 17px;
  --br-21xl: 40px;
  --br-23xl: 42px;
  --br-22xl: 41px;
  --br-18xl: 37px;
  --br-20xl: 39px;
  --br-19xl: 38px;
}
