.frameChild,
.frameItem {
  position: absolute;
  top: 0;
  left: 205px;
  background-color: var(--color-mistyrose);
  width: 1235px;
  height: 116px;
}
.frameItem {
  left: 0;
  width: 205px;
  height: 120px;
}
.screenshot20230425At1047 {
  position: absolute;
  top: 9px;
  left: 3px;
  width: 202px;
  height: 103px;
  object-fit: cover;
}
.about {
  position: absolute;
  top: 46px;
  left: 1054px;
  display: inline-block;
  width: 348px;
  height: 57px;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 112px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.rectangleDiv,
.salesChild,
.salesChild1,
.salesInner,
.salesItem {
  position: absolute;
  top: 314px;
  left: 87px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 380px;
  height: 334px;
}
.rectangleDiv,
.salesChild1,
.salesInner,
.salesItem {
  top: 706px;
  left: 82px;
}
.rectangleDiv,
.salesChild1,
.salesInner {
  left: 560px;
}
.rectangleDiv,
.salesChild1 {
  top: 314px;
}
.salesChild1 {
  left: 1022px;
}
.frameInner {
  position: absolute;
  top: 0;
  left: -1px;
  background-color: var(--color-dodgerblue);
  width: 211px;
  height: 40px;
}
.watch {
  position: absolute;
  top: 9px;
  left: 76px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 186px;
  height: 21px;
}
.frameButton,
.rectangleContainer,
.rectangleGroup,
.rectangleParent1,
.rectangleParent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 575px;
  left: 173px;
  width: 210px;
  height: 40px;
  overflow: hidden;
}
.frameButton,
.rectangleContainer,
.rectangleParent1,
.rectangleParent2 {
  left: 645px;
}
.frameButton,
.rectangleParent1,
.rectangleParent2 {
  top: 966px;
}
.rectangleParent1,
.rectangleParent2 {
  left: 173px;
}
.rectangleParent2 {
  top: 575px;
  left: 1117px;
}
.byBuildAnd {
  position: absolute;
  top: 537px;
  left: 1134px;
  font-weight: 300;
  display: inline-block;
  width: 181px;
  height: 29px;
}
.screenshot20230429At1135 {
  position: absolute;
  top: 314px;
  left: 87px;
  border-radius: var(--br-21xl);
  width: 380px;
  height: 190px;
  object-fit: cover;
}
.byJordanPlatten,
.salesTrainingVideos {
  position: absolute;
  top: 509px;
  left: 121px;
  display: inline-block;
  width: 380px;
  height: 71px;
}
.byJordanPlatten {
  top: 551px;
  left: 200px;
  font-weight: 300;
  width: 262px;
  height: 57px;
}
.screenshot20230429At11351 {
  position: absolute;
  top: 314px;
  left: 560px;
  border-radius: var(--br-21xl);
  width: 380px;
  height: 190px;
  object-fit: cover;
}
.byDavidChang,
.salesCourseplaylist {
  position: absolute;
  top: 509px;
  left: 560px;
  display: inline-block;
  text-align: center;
  width: 375px;
  height: 62px;
}
.byDavidChang {
  top: 544px;
  font-weight: 300;
  height: 39px;
}
.screenshot20230429At1134 {
  position: absolute;
  top: 314px;
  left: 1022px;
  border-radius: var(--br-19xl);
  width: 380px;
  height: 190px;
  object-fit: cover;
}
.beginnerSalesTraining {
  position: absolute;
  top: 504px;
  left: 1022px;
  display: inline-block;
  text-align: center;
  width: 380px;
  height: 62px;
}
.screenshot20230429At11341 {
  position: absolute;
  top: 706px;
  left: 82px;
  border-radius: var(--br-22xl);
  width: 380px;
  height: 190px;
  object-fit: cover;
}
.bySalesScripter,
.theSmartSales {
  position: absolute;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.theSmartSales {
  top: 896px;
  left: 82px;
  text-align: center;
  width: 380px;
  height: 51px;
}
.bySalesScripter {
  top: 935px;
  left: 210px;
  font-weight: 300;
  width: 225px;
  height: 45px;
}
.screenshot20230429At11342 {
  position: absolute;
  top: 706px;
  left: 560px;
  border-radius: var(--br-21xl);
  width: 380px;
  height: 190px;
  object-fit: cover;
}
.byNeilPatel,
.salesAdvice {
  position: absolute;
  top: 904px;
  left: 560px;
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: center;
  width: 376px;
  height: 51px;
}
.byNeilPatel {
  top: 936px;
  left: 559px;
  font-weight: 300;
  height: 57px;
}
.blankLine {
  margin: 0;
}
.allCategories {
  position: absolute;
  top: 3px;
  left: 564px;
  font-weight: 300;
  display: inline-block;
  width: 330px;
  height: 30px;
}
.frameChild5,
.frameChild6,
.frameChild7,
.frameChild8,
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 102px;
  left: 37px;
  border-radius: var(--br-mid);
  width: 134px;
  height: 34px;
}
.frameChild5,
.frameChild6,
.frameChild7,
.frameChild8 {
  left: 202px;
  width: 259px;
}
.frameChild6,
.frameChild7,
.frameChild8 {
  left: 490px;
  width: 279px;
}
.frameChild7,
.frameChild8 {
  top: 45px;
  left: 692px;
  width: 377px;
}
.frameChild8 {
  left: 1103px;
  width: 187px;
}
.buildingYourOwnContainer,
.promptEngineering,
.publicSpeaking,
.sales1,
.sendingColdEmailsContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 1130px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 144px;
  height: 24px;
}
.buildingYourOwnContainer,
.promptEngineering,
.sales1,
.sendingColdEmailsContainer {
  top: 108px;
  left: 85px;
  width: 53px;
  height: 28px;
}
.buildingYourOwnContainer,
.promptEngineering,
.sendingColdEmailsContainer {
  top: 107px;
  left: 539px;
  width: 208px;
  height: 19px;
}
.buildingYourOwnContainer,
.sendingColdEmailsContainer {
  top: 108px;
  left: 242px;
  width: 194px;
  height: 18px;
}
.buildingYourOwnContainer {
  top: 50px;
  left: 732px;
  width: 315px;
  height: 24px;
}
.frameChild9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
  background-color: var(--color-gainsboro);
  width: 130px;
  height: 34px;
}
.excel {
  position: absolute;
  top: 5px;
  left: 38px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 90px;
  height: 28px;
}
.rectangleParent3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 45px;
  left: 539px;
  width: 130px;
  height: 34px;
  overflow: hidden;
}
.frameChild10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
  background-color: var(--color-gainsboro);
  width: 248px;
  height: 34px;
}
.webDevelopment {
  position: absolute;
  top: 5px;
  left: 41px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 207px;
  height: 45px;
}
.rectangleParent4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 45px;
  left: 41px;
  width: 248px;
  height: 33px;
  overflow: hidden;
}
.frameChild11 {
  position: absolute;
  top: 44px;
  left: 315px;
  border-radius: var(--br-mid);
  background-color: var(--color-gainsboro);
  width: 184px;
  height: 34px;
}
.python {
  position: absolute;
  top: 5px;
  left: 59px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 154px;
  height: 29px;
}
.pythonWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 44px;
  left: 315px;
  width: 184px;
  height: 34px;
  overflow: hidden;
}
.rectangleIcon {
  position: absolute;
  top: 102px;
  left: 810px;
  border-radius: var(--br-mid);
  width: 295px;
  height: 34px;
}
.peopleManagement {
  position: absolute;
  top: 8px;
  left: 55px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 220px;
  height: 29px;
}
.peopleManagementWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 102px;
  left: 811px;
  width: 292px;
  height: 34px;
  overflow: hidden;
}
.frameChild12 {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: var(--br-mid);
  width: 151px;
  height: 34px;
}
.uiux {
  position: absolute;
  top: 5px;
  left: 48px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 64px;
  height: 26px;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 101px;
  left: 1138px;
  width: 152px;
  height: 35px;
  overflow: hidden;
}
.allCategoriesParent,
.frameDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 1319px;
  height: 151px;
  overflow: hidden;
}
.frameDiv {
  top: 137px;
  left: 82px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.accessCourses,
.frameChild13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.frameChild13 {
  background-color: var(--color-black);
  top: 48px;
  left: 30px;
  border-radius: var(--br-15xl-5);
  width: 219px;
  height: 69px;
}
.accessCourses {
  background-color: transparent;
  top: 69px;
  left: 61px;
  font-size: 22.94px;
  font-weight: 300;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 167px;
  height: 32px;
}
.rectangleParent5 {
  position: absolute;
  top: -27px;
  left: 1175px;
  width: 249px;
  height: 117px;
  overflow: hidden;
}
.sales {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1115px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
